* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 350px;
    height: 200px;
    background-image: linear-gradient(
        to right bottom,
        #0f0f0f,
        #151515,
        #1a1a1a,
        #202020,
        #252525,
        #252525,
        #252525,
        #252525,
        #202020,
        #1a1a1a,
        #151515,
        #0f0f0f
    );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

label {
    color: white;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    outline: none;
}

button {
    background: lightgreen;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    width: 30%;
    height: 15%;
    border-radius: 5px;
}
